<mat-toolbar class="mat-elevation-z6" style="background-color: rgb(1,102,145); color: white; height: 70px;">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">

    <!-- Sidenav button -->
    <button (click)="onToggleSidenav()" mat-icon-button style="height:48px; width:48px;" aria-label="Open Sidenav"
            matTooltip="{{ 'SIDENAV_HINT' | translate }}" matTooltipPosition="below">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Home button -->
    <button mat-button routerLink="/search" style="height:48px; margin-left:12px;" class="buttons" aria-label="Back to homepage">
      <div id="homeButton" style="display:flex; align-items:center; gap:8px;">
         <span fxHide.lt-sm fxShow style="font-size:1rem; font-weight:500;"> Custom Juice Shop - Amit Sangwan</span>
      </div>
    </button>

    <!-- Spacer before center -->
    <span class="fill-remaining-space"></span>

    <!-- Portfolio button -->
    <!-- Portfolio button -->
    <button mat-button
            (click)="goToPortfolio()"
            aria-label="Go to Amit Sangwan Website"
            style="
          height:48px;
          padding: 0 22px;
          border-radius: 10px;
          border: 1px solid rgb(39,247,16);
          color: white;
          background-color: transparent;
          display: flex;
          align-items: center;       /* vertical center */
          justify-content: center;   /* horizontal center */
          gap: 10px;                 /* space between logo and text */
          font-weight: 500;
          font-size: 0.95rem;
        ">


      <!-- Text aligned horizontally -->
      <span style="display:flex; align-items:center;">
    Visit My Portfolio
  </span>
    </button>


    <!-- Spacer after center -->
    <span class="fill-remaining-space"></span>

    <!-- Search -->
    <app-mat-search-bar #searchControl id="searchQuery" (onEnter)="search(searchControl.value)"
                        aria-label="Click to search"></app-mat-search-bar>

    <!-- Account Menu -->
    <button [matMenuTriggerFor]="userMenu" mat-button style="height:48px;" class="buttons" fxHide.lt-md fxShow aria-label="Account menu">
      <mat-icon>account_circle</mat-icon>
      <span>{{ "ACCOUNT" | translate }}</span>
    </button>

    <!-- Basket -->
    <button *ngIf="isLoggedIn()" mat-button routerLink="/basket" style="height:48px;" class="buttons">
      <mat-icon>shopping_cart</mat-icon>
      <span fxHide.lt-md fxShow style="margin-right:10px;">{{ "TITLE_BASKET" | translate }}</span>
      <span class="fa-layers-counter fa-layers-top-right fa-3x warn-notification"
            style="font-size:47px;">{{itemTotal}}</span>
    </button>

    <!-- Language -->
    <button id="navbarLanguageButton" [matMenuTriggerFor]="menu" mat-button style="height:48px; width:48px;" class="buttons"
            aria-label="Language selection menu" matTooltip="{{ 'LANGUAGE_SEL_HINT' | translate }}" matTooltipPosition="below">
      <mat-icon>language</mat-icon>
      <span fxHide.lt-md fxShow>{{ shortKeyLang }}</span>
    </button>

  </mat-toolbar-row>

  <!-- User Menu -->
  <mat-menu #userMenu="matMenu">
    <button *ngIf="!isLoggedIn()" mat-menu-item routerLink="/login" aria-label="Login" id="navbarLoginButton">
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ "TITLE_LOGIN" | translate }}</span>
    </button>
    <button *ngIf="isLoggedIn()" mat-menu-item (click)="goToProfilePage()" aria-label="Profile">
      <mat-icon>account_circle</mat-icon>
      <span>{{ userEmail }}</span>
    </button>
    <button *ngIf="isLoggedIn() && isAccounting()" mat-menu-item routerLink="/accounting" aria-label="Accounting">
      <mat-icon>account_balance</mat-icon>
      <span>{{ "ACCOUNTING" | translate }}</span>
    </button>
    <button mat-menu-item *ngIf="isLoggedIn()" [matMenuTriggerFor]="ordersSubMenu" aria-label="Orders & Payment">
      <mat-icon>check_circle_outline</mat-icon>
      <span>{{ "ORDERS_AND_PAYMENT" | translate }}</span>
    </button>
    <button mat-menu-item *ngIf="isLoggedIn()" [matMenuTriggerFor]="privacySubMenu" aria-label="Privacy & Security">
      <mat-icon>security</mat-icon>
      <span>{{ "PRIVACY_AND_SECURITY" | translate }}</span>
    </button>
    <button *ngIf="isLoggedIn()" mat-menu-item (click)="logout()" aria-label="Logout" id="navbarLogoutButton">
      <mat-icon>power_settings_new</mat-icon>
      <span>{{ "TITLE_LOGOUT" | translate }}</span>
    </button>
  </mat-menu>

  <!-- Orders Submenu -->
  <mat-menu #ordersSubMenu="matMenu">
    <button mat-menu-item routerLink="/order-history"><mat-icon>archive</mat-icon><span>{{ "LABEL_ORDER_HISTORY" | translate }}</span></button>
    <button mat-menu-item routerLink="/recycle"><mat-icon>autorenew</mat-icon><span>{{ "NAV_RECYCLE" | translate }}</span></button>
    <mat-divider></mat-divider>
    <button *ngIf="isLoggedIn()" mat-menu-item routerLink="/address/saved"><mat-icon>my_location</mat-icon><span>{{ "MY_SAVED_ADRESSES" | translate }}</span></button>
    <button *ngIf="isLoggedIn()" mat-menu-item routerLink="/saved-payment-methods"><mat-icon>credit_card</mat-icon><span>{{ "MY_PAYMENT_OPTIONS" | translate }}</span></button>
    <button *ngIf="isLoggedIn()" mat-menu-item routerLink="/wallet"><mat-icon>account_balance_wallet</mat-icon><span>{{ "DIGITAL_WALLET" | translate }}</span></button>
  </mat-menu>

  <!-- Privacy Submenu -->
  <mat-menu #privacySubMenu="matMenu">
    <button mat-menu-item routerLink="/privacy-security/privacy-policy"><mat-icon>assignment</mat-icon><span translate>TITLE_PRIVACY_POLICY</span></button>
    <button mat-menu-item routerLink="/privacy-security/data-export"><mat-icon>get_app</mat-icon><span translate>TITLE_REQUEST_DATA_EXPORT</span></button>
    <button mat-menu-item (click)="goToDataErasurePage()"><mat-icon>delete_forever</mat-icon><span translate>DATA_SUBJECT_TITLE</span></button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/privacy-security/change-password"><mat-icon>edit</mat-icon><span translate>TITLE_CHANGE_PASSWORD</span></button>
    <button mat-menu-item routerLink="/privacy-security/two-factor-authentication"><mat-icon>exposure_plus_2</mat-icon><span translate>TITLE_TWO_FACTOR_AUTH_CONFIG</span></button>
    <button mat-menu-item routerLink="/privacy-security/last-login-ip"><mat-icon>place</mat-icon><span translate>LAST_LOGIN_IP</span></button>
  </mat-menu>

  <!-- Language Menu -->
  <mat-menu #menu="matMenu" [overlapTrigger]="true">
    <div class="language-search-container" (click)="$event.stopPropagation()">
      <mat-form-field class="language-search-field">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>{{ 'SEARCH' | translate }}</mat-label>
        <input type="search" matInput [(ngModel)]="languageSearchQuery" (input)="filterLanguages()">
      </mat-form-field>
    </div>
    <ng-container *ngFor="let language of filteredLanguages">
      <mat-radio-button (click)="changeLanguage(language.key)" [value]="language" class="mat-menu-item" style="width:240px;" [checked]="selectedLanguage===language" [aria-label]="language.lang">
        <div style="display:inline-block; width:200px; margin-left:5px;">
          <span *ngFor="let icon of language.icons" [class]="'fi fi-'+icon"></span>
          {{language?.lang}}
        </div>
        <i [class]="'fas fa-thermometer-'+language.gauge + (language.percentage>70?' confirmation':' error')"></i>
      </mat-radio-button>
    </ng-container>
  </mat-menu>
</mat-toolbar>
